:root {
  --color-one: #3355ff;
  --color-two: #122791;
  --color-three: #4867ff;
  --color-four: #1631b6;
  --white: #ffffff;
  --light-color-one: #fafafa;
  --light-color-two: #edeeef;
  --middle-color-one: #808080;
  --middle-color-two: #b8b8b8;
  --dark-color: #343a40;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.hide {
  display: none;
}

.show {
  display: flex;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: var(--light-color-two) !important;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--light-color-two);
  border-radius: 20px;
  border: 3px solid var(--middle-color-one);
}

html {
  scrollbar-width: thin;
  scrollbar-color: var(--middle-color-one) var(--light-color-two);
}

body {
  scrollbar-width: thin;
}

.btn {
  width: 276px;
  height: 56px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--white);
  border: none;
  text-decoration: none;
}
.btn--primary {
  background: var(--color-one);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
.btn--primary svg {
  width: 60px;
  height: auto;
  margin-left: 8px;
}
.btn--primary:hover {
  background: var(--color-two);
}
.btn--secondary {
  background: var(--color-three);
  border: 2px solid var(--white);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn--secondary svg {
  width: 60px;
  height: auto;
  margin-left: 8px;
}
.btn--secondary:hover {
  background: var(--color-four);
  border: 3px solid var(--white);
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  position: relative;
  background-color: var(--white);
  box-shadow: 0px 0px 34px 0px rgba(208, 208, 208, 0.4);
  -webkit-box-shadow: 0px 0px 34px 0px rgba(208, 208, 208, 0.4);
  -moz-box-shadow: 0px 0px 34px 0px rgba(208, 208, 208, 0.4);
  z-index: 55;
}
@media (max-width: 991px) {
  .header {
    padding: 9px 12px;
  }
}
@media (min-width: 992px) and (max-width: 1439px) {
  .header {
    padding: 9px 84px;
  }
}
@media (min-width: 1440px) {
  .header {
    padding: 9px 132px;
  }
}
.header--logo {
  width: 247px;
  height: auto;
}
.header--nav {
  width: 409px;
}

.logo {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  text-decoration: none;
}
.logo--icon {
  margin: 0;
}
.logo--text {
  margin-left: 8px;
}

@media (max-width: 991px) {
  .nav--desktop {
    display: none;
  }
}
@media (min-width: 992px) {
  .nav--desktop {
    display: flex;
  }
}
@media (max-width: 991px) {
  .nav--mobile {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--white);
    margin: 0;
  }
}
@media (min-width: 992px) {
  .nav--mobile {
    display: none;
  }
}
.nav__menu {
  width: 34px;
  height: auto;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}
.nav__menu svg {
  width: 100%;
}
@media (min-width: 992px) {
  .nav__menu {
    display: none;
  }
}
.nav__close {
  position: absolute;
  top: 13px;
  right: 13px;
  width: 26px;
  height: 26px;
  padding: 0;
  border: none;
  background: transparent;
  z-index: 55;
}
.nav__close:hover,
.nav__close :active {
  fill: var(--middle-color-one);
}
.nav__list {
  list-style: none;
}
@media (max-width: 991px) {
  .nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }
}
@media (min-width: 992px) {
  .nav__list {
    width: 409px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media (max-width: 991px) {
  .nav__item {
    margin-bottom: 40px;
  }
}
.nav__link {
  text-decoration: none;
  color: var(--dark-color);
}
.nav__link:hover,
.nav__link :active {
  color: var(--color-one);
}
@media (max-width: 991px) {
  .nav__link {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
  }
}
@media (min-width: 992px) {
  .nav__link {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
  }
}

.promo {
  position: relative;
  background: var(--white) url("../img/bg.svg") no-repeat center/cover;
}
@media (max-width: 767px) {
  .promo {
    background-position: 40% 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .promo {
    background-position: 75% 0;
  }
}
@media (max-width: 767px) {
  .promo__info {
    padding: 73px 12px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .promo__info {
    padding: 192px 12px;
  }
}
@media (min-width: 1200px) and (max-width: 1439px) {
  .promo__info {
    padding: 192px 84px;
  }
}
@media (min-width: 1440px) {
  .promo__info {
    padding: 246px 132px;
  }
}
.promo__info--pretitle {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 1;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .promo__info--pretitle {
    font-size: 18px;
  }
}
.promo__info--title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 74px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--dark-color);
  margin: 0;
}
@media (max-width: 767px) {
  .promo__info--title {
    font-size: 58px;
  }
}
.promo__info--desc {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0.01em;
  margin: 0;
  color: var(--dark-color);
}
@media (max-width: 767px) {
  .promo__info--desc {
    font-size: 16px;
  }
}
.promo__info--btn-block {
  display: flex;
  align-items: center;
  margin-top: 62px;
}
@media (max-width: 1199px) {
  .promo__info--btn-block {
    flex-direction: column;
  }
  .promo__info--btn-block .btn {
    width: 100%;
  }
}
.promo__info--count {
  display: flex;
  align-items: center;
  margin-left: 24px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--dark-color);
}
.promo__info--count picture {
  margin-right: 8px;
}
.promo__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 0 0 auto;
  gap: 24px;
}
@media (max-width: 767px) {
  .promo__list {
    flex-direction: column;
    padding: 60px 12px;
    background-color: var(--light-color-one);
    margin: 0;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .promo__list {
    flex-wrap: wrap;
    padding: 0 12px;
    position: absolute;
    bottom: -50%;
  }
}
@media (min-width: 1200px) and (max-width: 1439px) {
  .promo__list {
    width: 100%;
    padding: 0 84px;
    position: absolute;
    bottom: -15%;
  }
}
@media (min-width: 1440px) {
  .promo__list {
    width: 100%;
    position: absolute;
    bottom: -15%;
    padding: 0 132px;
  }
}
.promo__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  color: var(--dark-color);
  border-bottom: 5px solid rgba(211, 210, 243, 0.5);
  padding: 43px 48px;
  background-color: var(--white);
  box-shadow: 0px 0px 34px rgba(208, 208, 208, 0.4);
  border-radius: 4px;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  .promo__item {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .promo__item {
    width: calc(50% - 24px);
  }
}
@media (min-width: 1200px) and (max-width: 1439px) {
  .promo__item {
    width: calc(25% - 24px);
  }
}
@media (min-width: 1440px) {
  .promo__item {
    width: calc(25% - 24px);
  }
}
.promo__item span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  line-height: 78px;
  color: var(--dark-color);
  margin: 0;
}
@media (max-width: 1439px) {
  .promo__item span {
    font-size: 42px;
  }
}
@media (min-width: 1440px) {
  .promo__item span {
    font-size: 52px;
  }
}

.possibility {
  background-color: var(--light-color-one);
}
@media (max-width: 767px) {
  .possibility {
    padding: 60px 12px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .possibility {
    padding: 100px 12px;
  }
}
@media (min-width: 1200px) and (max-width: 1439px) {
  .possibility {
    padding: 100px 84px;
  }
}
@media (min-width: 1440px) {
  .possibility {
    padding: 100px 132px;
  }
}
@media (max-width: 767px) {
  .possibility {
    padding-top: 0;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .possibility {
    padding-top: 400px;
  }
}
@media (min-width: 1200px) and (max-width: 1439px) {
  .possibility {
    padding-top: 200px;
  }
}
@media (min-width: 1440px) {
  .possibility {
    padding-top: 200px;
  }
}
.possibility__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 0 0 auto;
  gap: 24px;
}
.possibility__item {
  padding: 43px 48px;
  background-color: var(--white);
  box-shadow: 0px 0px 34px rgba(208, 208, 208, 0.4);
  border-radius: 4px;
  box-sizing: border-box;
  position: relative;
  margin-top: 40px;
}
.possibility__item picture {
  padding: 43px 48px;
  background-color: var(--white);
  box-shadow: 0px 0px 34px rgba(208, 208, 208, 0.4);
  border-radius: 4px;
  box-sizing: border-box;
  padding: 20px;
  background-color: var(--white);
  position: absolute;
  top: -40px;
  left: 40px;
}
@media (max-width: 767px) {
  .possibility__item picture {
    left: 21px;
  }
}
.possibility__item:first-child {
  padding: 0;
  margin: 0;
  background-color: transparent;
  box-shadow: none;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .possibility__item:first-child {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .possibility__item {
    width: 100%;
    padding: 21px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .possibility__item {
    width: calc(50% - 24px);
  }
}
@media (min-width: 1200px) and (max-width: 1439px) {
  .possibility__item {
    width: calc(33.3333333333% - 24px);
  }
}
@media (min-width: 1440px) {
  .possibility__item {
    width: calc(33.3333333333% - 24px);
  }
}
.possibility__title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 50px;
  margin-top: 0;
  color: var(--dark-color);
}
@media (max-width: 1199px) {
  .possibility__title {
    font-size: 40px;
    line-height: 47px;
    margin: 0;
  }
}
.possibility__subtitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 164.6%;
  letter-spacing: 0.01em;
  color: var(--dark-color);
  margin: 0;
  margin-top: 20px;
  margin-bottom: 5px;
}
@media (max-width: 767px) {
  .possibility__subtitle:nth-of-type(1) {
    margin-top: 40px;
  }
}
.possibility__desc {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--dark-color);
  margin: 0;
}

.get {
  background-color: var(--white);
}
@media (max-width: 767px) {
  .get {
    padding: 60px 12px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .get {
    padding: 100px 12px;
  }
}
@media (min-width: 1200px) and (max-width: 1439px) {
  .get {
    padding: 100px 84px;
  }
}
@media (min-width: 1440px) {
  .get {
    padding: 100px 132px;
  }
}
.get__title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 50px;
  margin-top: 0;
  color: var(--dark-color);
}
@media (max-width: 1199px) {
  .get__title {
    font-size: 40px;
    line-height: 47px;
    margin: 0;
  }
}
.get__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
.get__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 0 0 auto;
  gap: 24px;
  margin-bottom: 76px;
}
.get__item:nth-of-type(2n) {
  flex-direction: row-reverse;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .get__item:nth-of-type(2n) {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}
.get__item:last-child {
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .get__item {
    margin-bottom: 32px;
  }
  .get__item:last-child {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .get__item {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .get__item:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 1199px) {
  .get__item--left {
    width: 100%;
  }
}
@media (min-width: 1200px) and (max-width: 1439px) {
  .get__item--left {
    width: calc(50% - 24px);
  }
}
@media (min-width: 1440px) {
  .get__item--left {
    width: calc(50% - 24px);
  }
}
.get__item--right {
  display: flex;
  justify-content: center;
}
@media (max-width: 1199px) {
  .get__item--right {
    width: 100%;
  }
  .get__item--right picture {
    width: 100%;
  }
  .get__item--right picture img {
    width: 100%;
  }
}
@media (min-width: 1200px) and (max-width: 1439px) {
  .get__item--right {
    width: calc(50% - 24px);
  }
}
@media (min-width: 1440px) {
  .get__item--right {
    width: calc(50% - 24px);
  }
}
.get__item--title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 153%;
  color: var(--dark-color);
  margin: 0;
  margin-bottom: 12px;
  margin-bottom: 32px;
}
.get__item--desc {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--dark-color);
  margin: 0;
  padding: 0;
}

.lead {
  display: flex;
  align-items: center;
  background-color: var(--white);
}
@media (max-width: 767px) {
  .lead {
    height: 387px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .lead {
    height: 424px;
  }
}
@media (min-width: 1200px) and (max-width: 1439px) {
  .lead {
    height: 534px;
  }
}
@media (min-width: 1440px) {
  .lead {
    height: 633px;
  }
}
.lead__block {
  display: flex;
  align-items: center;
  width: 100%;
  height: 376px;
  background: var(--color-three) url("../img/banner_bg.svg") no-repeat center/cover;
  position: relative;
}
@media (max-width: 767px) {
  .lead__block {
    padding: 60px 12px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .lead__block {
    padding: 100px 12px;
  }
}
@media (min-width: 1200px) and (max-width: 1439px) {
  .lead__block {
    padding: 100px 84px;
  }
}
@media (min-width: 1440px) {
  .lead__block {
    padding: 100px 132px;
  }
}
@media (max-width: 767px) {
  .lead__block {
    padding-top: 74px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .lead__block {
    padding-top: 44px;
  }
}
@media (min-width: 1200px) and (max-width: 1439px) {
  .lead__block {
    padding-top: 61px;
  }
}
@media (min-width: 1440px) {
  .lead__block {
    padding-top: 88px;
  }
}
.lead__block--pretitle {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 0.02em;
  color: var(--white);
  margin: 0;
  margin-bottom: 5px;
}
.lead__block--title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 74px;
  line-height: 88px;
  letter-spacing: 0.03em;
  color: var(--white);
  margin: 0;
  margin-bottom: 20px;
}
.lead__block--left {
  width: calc(50% - 24px);
}
.lead__block--left picture {
  width: 100%;
}
@media (max-width: 767px) {
  .lead__block--left picture {
    position: absolute;
    top: -50px;
    right: 0;
    width: 162px;
  }
}
@media (min-width: 768px) {
  .lead__block--left picture {
    display: none;
  }
}
.lead__block--left picture img {
  width: 100%;
}
.lead__block--right {
  width: calc(50% - 24px);
  display: flex;
  justify-content: center;
}
.lead__block--right picture {
  width: 100%;
}
.lead__block--right picture img {
  width: 100%;
}
@media (max-width: 767px) {
  .lead__block--right {
    display: none;
  }
}

.partners {
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .partners {
    padding: 60px 12px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .partners {
    padding: 100px 12px;
  }
}
@media (min-width: 1200px) and (max-width: 1439px) {
  .partners {
    padding: 100px 84px;
  }
}
@media (min-width: 1440px) {
  .partners {
    padding: 100px 132px;
  }
}
@media (max-width: 767px) {
  .partners {
    flex-direction: column;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .partners__left {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .partners__left {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .partners__left {
    width: 100%;
    max-width: 320px;
  }
}
@media (min-width: 1440px) {
  .partners__left {
    width: 100%;
    max-width: 350px;
  }
}
.partners__title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 50px;
  margin-top: 0;
  color: var(--dark-color);
  margin-bottom: 16px;
}
@media (max-width: 1199px) {
  .partners__title {
    font-size: 40px;
    line-height: 47px;
    margin: 0;
  }
}
.partners__desc {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--dark-color);
  margin: 0;
  padding: 0;
}
@media (max-width: 767px) {
  .partners__desc {
    margin-bottom: 30px;
  }
}
.partners__list {
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}
@media (max-width: 767px) {
  .partners__list {
    padding: 0;
    margin: 0;
    gap: 55px;
  }
}
.partners__item {
  flex: 1 1 auto;
  text-align: center;
}
@media (max-width: 464px) {
  .partners__item {
    width: 100%;
    text-align: left;
  }
  .partners__item img {
    width: 75% !important;
  }
}
@media (min-width: 465px) and (max-width: 991px) {
  .partners__item {
    width: calc(50% - 40px);
    text-align: left;
  }
}
@media (min-width: 992px) {
  .partners__item {
    width: calc(33.3333333333% - 40px);
  }
}
.partners__item img {
  width: 100%;
  box-sizing: border-box;
}
.partners__item:nth-of-type(5) {
  margin-bottom: 9%;
}

.contacts {
  background-color: var(--light-color-one);
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .contacts {
    padding: 60px 12px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .contacts {
    padding: 100px 12px;
  }
}
@media (min-width: 1200px) and (max-width: 1439px) {
  .contacts {
    padding: 100px 84px;
  }
}
@media (min-width: 1440px) {
  .contacts {
    padding: 100px 132px;
  }
}
@media (max-width: 991px) {
  .contacts {
    flex-direction: column;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .contacts__left {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .contacts__left {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .contacts__left {
    width: 100%;
    max-width: 320px;
  }
}
@media (min-width: 1440px) {
  .contacts__left {
    width: 100%;
    max-width: 350px;
  }
}
.contacts__right {
  width: 100%;
  display: flex;
  justify-content: center;
}
@media (max-width: 991px) {
  .contacts__right {
    justify-content: start;
  }
}
.contacts__title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 50px;
  margin-top: 0;
  color: var(--dark-color);
  margin-bottom: 16px;
}
@media (max-width: 1199px) {
  .contacts__title {
    font-size: 40px;
    line-height: 47px;
    margin: 0;
  }
}
.contacts__desc {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--dark-color);
  margin: 0;
  padding: 0;
}
@media (max-width: 767px) {
  .contacts__desc {
    margin-bottom: 30px;
  }
}
.contacts__form {
  width: 100%;
  max-width: 767px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .contacts__form {
    max-width: 100%;
    margin-top: 24px;
  }
}
.contacts__form--group {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  .contacts__form--group {
    flex-direction: column;
  }
}
.contacts__form--group input {
  width: 50%;
  background: var(--light-color-two);
  border: 1px solid var(--light-color-two);
  border-radius: 4px;
  padding: 20px 24px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--middle-color-one);
  width: 100%;
}
.contacts__form textarea {
  background: var(--light-color-two);
  border: 1px solid var(--light-color-two);
  border-radius: 4px;
  padding: 20px 24px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--middle-color-one);
  width: 100%;
  margin-top: 24px;
  margin-bottom: 12px;
  resize: none;
}
.contacts__form--desc {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--middle-color-one);
  margin: 0;
  margin-bottom: 24px;
}
.contacts__form button {
  background: var(--color-one);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--white);
  padding: 18px 60px;
  max-width: 276px;
}
.contacts__form button svg {
  width: 60px;
  height: auto;
  margin-left: 8px;
}
.contacts__form button:hover {
  background: var(--color-two);
}
@media (max-width: 991px) {
  .contacts__form button {
    max-width: 100%;
  }
}

.footer {
  background: var(--color-two);
}
@media (max-width: 991px) {
  .footer {
    padding: 32px 12px;
  }
}
@media (min-width: 992px) and (max-width: 1439px) {
  .footer {
    padding: 32px 84px;
  }
}
@media (min-width: 1440px) {
  .footer {
    padding: 32px 132px;
  }
}
.footer__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (max-width: 767px) {
  .footer__list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .footer__list {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0;
    margin: 0;
  }
}
@media (min-width: 992px) {
  .footer__list {
    display: flex;
    justify-content: space-between;
  }
}
.footer__item {
  margin: 0;
}
@media (max-width: 991px) {
  .footer__item {
    margin-bottom: 20px;
  }
  .footer__item:last-child {
    margin-bottom: 0;
  }
}
.footer__link {
  text-decoration: none;
  color: var(--dark-color);
}
.footer__link:hover,
.footer__link :active {
  color: var(--color-one);
}
.footer__link:hover,
.footer__link :active {
  color: var(--white);
}
@media (max-width: 991px) {
  .footer__link {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--white);
  }
}
@media (min-width: 992px) {
  .footer__link {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--white);
  }
}

a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus,
input.active.focus,
input.active:focus,
input.focus,
input:active.focus,
input:active:focus,
input:focus,
select.active.focus,
select.active:focus,
select.focus,
select:active.focus,
select:active:focus,
select:focus,
textarea.active.focus,
textarea.active:focus,
textarea.focus,
textarea:active.focus,
textarea:active:focus,
textarea:focus {
  outline: 0 !important;
  outline-color: transparent !important;
  outline-width: 0 !important;
  outline-style: none !important;
  box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
  text-decoration: none;
}