:root {
  --color-one: #3355ff;
  --color-two: #122791;
  --color-three: #4867ff;
  --color-four: #1631b6;
  --white: #ffffff;
  --light-color-one: #fafafa;
  --light-color-two: #edeeef;
  --middle-color-one: #808080;
  --middle-color-two: #b8b8b8;
  --dark-color: #343a40;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.hide {
  display: none;
}

.show {
  display: flex;
}

.container {
  position: relative;
  z-index: 1;
}

@media (max-width: 464px) {
  .container {
    max-width: 90%;
    margin: 0 auto;
  }
}
@media (min-width: 465px) and (max-width: 767px) {
  .container {
    max-width: 95%;
    margin: 0 auto;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 678px;
    margin: 0 auto;
  }
}
@media (min-width: 992px) and (max-width: 1239px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
  }
}
@media (min-width: 1240px) and (max-width: 1419px) {
  .container {
    max-width: 992px;
    margin: 0 auto;
  }
}
@media (min-width: 1420px) and (max-width: 1919px) {
  .container {
    max-width: 1240px;
    margin: 0 auto;
  }
}
@media (min-width: 1920px) {
  .container {
    max-width: 1420px;
    margin: 1em auto;
  }
}
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #020e1a !important;
}

*::-webkit-scrollbar-thumb {
  background-color: #020e1a;
  border-radius: 20px;
  border: 3px solid #033763;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #033763 #020e1a;
}

body {
  scrollbar-width: thin;
}

.btn {
  width: 276px;
  height: 56px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--white);
  border: none;
}
.btn--primary {
  background: var(--color-one);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn--primary svg {
  width: 60px;
  height: auto;
  margin-left: 8px;
}
.btn--primary:hover {
  background: var(--color-two);
}
.btn--secondary {
  background: var(--color-three);
  border: 2px solid var(--white);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn--secondary svg {
  width: 60px;
  height: auto;
  margin-left: 8px;
}
.btn--secondary:hover {
  background: var(--color-four);
  border: 3px solid var(--white);
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  position: relative;
  background-color: var(--white);
  box-shadow: 0px 0px 34px 0px rgba(208, 208, 208, 0.4);
  -webkit-box-shadow: 0px 0px 34px 0px rgba(208, 208, 208, 0.4);
  -moz-box-shadow: 0px 0px 34px 0px rgba(208, 208, 208, 0.4);
  z-index: 55;
}
@media (max-width: 991px) {
  .header {
    padding: 9px 12px;
  }
}
@media (min-width: 992px) and (max-width: 1439px) {
  .header {
    padding: 9px 84px;
  }
}
@media (min-width: 1440px) {
  .header {
    padding: 9px 132px;
  }
}
.header--logo {
  width: 247px;
  height: auto;
}
.header--nav {
  width: 409px;
}

.logo {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  text-decoration: none;
}
.logo--icon {
  margin: 0;
}
.logo--text {
  margin-left: 8px;
}

@media (max-width: 991px) {
  .nav--desktop {
    display: none;
  }
}
@media (min-width: 992px) {
  .nav--desktop {
    display: flex;
  }
}
@media (max-width: 991px) {
  .nav--mobile {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--white);
    margin: 0;
  }
}
@media (min-width: 992px) {
  .nav--mobile {
    display: none;
  }
}
.nav__menu {
  width: 34px;
  height: auto;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}
.nav__menu svg {
  width: 100%;
}
@media (min-width: 992px) {
  .nav__menu {
    display: none;
  }
}
.nav__close {
  position: absolute;
  top: 13px;
  right: 13px;
  width: 26px;
  height: 26px;
  padding: 0;
  border: none;
  background: transparent;
  z-index: 55;
}
.nav__close:hover,
.nav__close :active {
  fill: var(--middle-color-one);
}
.nav__list {
  list-style: none;
}
@media (max-width: 991px) {
  .nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }
}
@media (min-width: 992px) {
  .nav__list {
    width: 409px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media (max-width: 991px) {
  .nav__item {
    margin-bottom: 40px;
  }
}
.nav__link {
  text-decoration: none;
  color: var(--dark-color);
}
.nav__link:hover,
.nav__link :active {
  color: var(--color-one);
}
@media (max-width: 991px) {
  .nav__link {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
  }
}
@media (min-width: 992px) {
  .nav__link {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
  }
}

.promo {
  position: relative;
  background: var(--white) url("../img/bg.svg") no-repeat center/cover;
}
@media (max-width: 767px) {
  .promo {
    background-position: 40% 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .promo {
    background-position: 75% 0;
  }
}
@media (max-width: 767px) {
  .promo__info {
    padding: 73px 12px;
  }
}
@media (min-width: 768px) and (max-width: 1439px) {
  .promo__info {
    padding: 192px 84px;
  }
}
@media (min-width: 1440px) {
  .promo__info {
    padding: 246px 132px;
  }
}
.promo__info--pretitle {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 1;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .promo__info--pretitle {
    font-size: 18px;
  }
}
.promo__info--title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 74px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--dark-color);
  margin: 0;
}
@media (max-width: 767px) {
  .promo__info--title {
    font-size: 58px;
  }
}
.promo__info--desc {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0.01em;
  margin: 0;
  color: var(--dark-color);
}
@media (max-width: 767px) {
  .promo__info--desc {
    font-size: 16px;
  }
}
.promo__info--btn-block {
  display: flex;
  align-items: center;
  margin-top: 62px;
}
@media (max-width: 991px) {
  .promo__info--btn-block {
    flex-direction: column;
  }
  .promo__info--btn-block button {
    width: 100%;
  }
}
.promo__info--count {
  display: flex;
  align-items: center;
  margin-left: 24px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--dark-color);
}
.promo__info--count picture {
  margin-right: 8px;
}
.promo__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0;
}
@media (max-width: 767px) {
  .promo__list {
    flex-direction: column;
    padding: 60px 12px;
    background-color: var(--light-color-one);
    margin: 0;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .promo__list {
    flex-wrap: wrap;
    padding: 0 84px;
    position: absolute;
    bottom: -50%;
  }
}
@media (min-width: 1200px) and (max-width: 1439px) {
  .promo__list {
    width: 100%;
    padding: 0 84px;
    position: absolute;
    bottom: -15%;
  }
}
@media (min-width: 1440px) {
  .promo__list {
    width: 100%;
    position: absolute;
    bottom: -15%;
    padding: 0 132px;
  }
}
.promo__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 43px 48px;
  background-color: var(--white);
  box-shadow: 0px 0px 34px rgba(208, 208, 208, 0.4);
  border-radius: 4px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  color: var(--dark-color);
  box-sizing: border-box;
}
@media (max-width: 767px) {
  .promo__item {
    width: 100%;
    margin-bottom: 24px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .promo__item {
    width: 48.7%;
    margin-bottom: 24px;
  }
}
@media (min-width: 1200px) and (max-width: 1439px) {
  .promo__item {
    width: 240px;
  }
}
@media (min-width: 1440px) {
  .promo__item {
    width: 275px;
  }
}
.promo__item span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  line-height: 78px;
  color: var(--dark-color);
}
@media (max-width: 767px) {
  .promo__item span {
    font-size: 42px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .promo__item span {
    font-size: 42px;
  }
}
@media (min-width: 1200px) and (max-width: 1439px) {
  .promo__item span {
    font-size: 42px;
  }
}
@media (min-width: 1440px) {
  .promo__item span {
    font-size: 52px;
  }
}

.footer {
  background: var(--color-two);
}
@media (max-width: 991px) {
  .footer {
    padding: 32px 12px;
  }
}
@media (min-width: 992px) and (max-width: 1439px) {
  .footer {
    padding: 32px 84px;
  }
}
@media (min-width: 1440px) {
  .footer {
    padding: 32px 132px;
  }
}
.footer__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (max-width: 767px) {
  .footer__list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .footer__list {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0;
    margin: 0;
  }
}
@media (min-width: 992px) {
  .footer__list {
    display: flex;
    justify-content: space-between;
  }
}
.footer__item {
  margin: 0;
}
@media (max-width: 991px) {
  .footer__item {
    margin-bottom: 20px;
  }
  .footer__item:last-child {
    margin-bottom: 0;
  }
}
.footer__link {
  text-decoration: none;
  color: var(--dark-color);
}
.footer__link:hover,
.footer__link :active {
  color: var(--color-one);
}
.footer__link:hover,
.footer__link :active {
  color: var(--white);
}
@media (max-width: 991px) {
  .footer__link {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--white);
  }
}
@media (min-width: 992px) {
  .footer__link {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--white);
  }
}