.btn {
    width: 276px;
    height: 56px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--white);
    border: none;
    text-decoration: none;
    &--primary {
        @include btn-primary;
    }
    &--secondary {
        @include btn-secondary;
    }
}
