.contacts {
    background-color: var(--light-color-one);
    display: flex;
    justify-content: space-between;
    @include container;
    @media (max-width: 991px) {
        flex-direction: column;
        width: 100%;
    }
    &__left {
        @media (max-width: 767px) {
            width: 100%;
        }
        @media (min-width: 768px) and (max-width: 991px) {
            width: 100%;
        }
        @media (min-width: 992px) {
            width: 100%;
            max-width: 320px;
        }
        @media (min-width: 1440px) {
            width: 100%;
            max-width: 350px;
        }
    }
    &__right {
        width: 100%;
        display: flex;
        justify-content: center;
        @media (max-width: 991px) {
            justify-content: start;
        }
    }
    &__title {
        @include h2;
        margin-bottom: 16px;
    }
    &__desc {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: var(--dark-color);
        margin: 0;
        padding: 0;
        @media (max-width: 767px) {
            margin-bottom: 30px;
        }
    }
    &__form {
        width: 100%;
        max-width: 767px;
        display: flex;
        flex-direction: column;
        @media (min-width: 768px) {
            max-width: 100%;
            margin-top: 24px;
        }
        &--group {
            display: flex;
            justify-content: space-between;
            gap: 24px;
            box-sizing: border-box;
            @media (max-width: 767px) {
                flex-direction: column;
            }
            & input {
                width: calc(100% / 2);
                @include form;
            }
        }
        & textarea {
            @include form;
            margin-top: 24px;
            margin-bottom: 12px;
            resize: none;
        }
        &--desc {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            color: var(--middle-color-one);
            margin: 0;
            margin-bottom: 24px;
        }
        & button {
            @include btn-primary;
            font-family: "Poppins";
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: var(--white);
            padding: 18px 60px;
            max-width: 276px;
            @media (max-width: 991px) {
                max-width: 100%;
            }
        }
    }
}
