.container {
    position: relative;
    z-index: 1;
}

@media (max-width: 464px) {
    .container {
        max-width: 90%;
        margin: 0 auto;
    }
}
@media (min-width: 465px) and (max-width: 767px) {
    .container {
        max-width: 95%;
        margin: 0 auto;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .container {
        max-width: 678px;
        margin: 0 auto;
    }
}
@media (min-width: 992px) and (max-width: 1239px) {
    .container {
        max-width: 768px;
        margin: 0 auto;
    }
}
@media (min-width: 1240px) and (max-width: 1419px) {
    .container {
        max-width: 992px;
        margin: 0 auto;
    }
}
@media (min-width: 1420px) and (max-width: 1919px) {
    .container {
        max-width: 1240px;
        margin: 0 auto;
    }
}
@media (min-width: 1920px) {
    .container {
        max-width: 1420px;
        margin: 1em auto;
    }
}
