.logo {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    text-decoration: none;
    &--icon {
        margin: 0;
        width: 42px;
        height: auto;
    }
    &--text {
        margin-left: 8px;
    }
}
