@mixin btn-primary {
    background: var(--color-one);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    & svg {
        width: 60px;
        height: auto;
        margin-left: 8px;
    }
    &:hover {
        background: var(--color-two);
    }
}

@mixin btn-secondary {
    background: var(--color-three);
    border: 2px solid var(--white);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    & svg {
        width: 60px;
        height: auto;
        margin-left: 8px;
    }
    &:hover {
        background: var(--color-four);
        border: 3px solid var(--white);
    }
}

@mixin link {
    text-decoration: none;
    color: var(--dark-color);
    &:hover,
    :active {
        color: var(--color-one);
    }
}

@mixin card {
    padding: 43px 48px;
    background-color: var(--white);
    box-shadow: 0px 0px 34px rgba(208, 208, 208, 0.4);
    border-radius: 4px;
    box-sizing: border-box;
}

@mixin h2 {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
    color: var(--dark-color);
    @media (max-width: 1199px) {
        font-size: 40px;
        line-height: 47px;
        margin: 0;
    }
}

@mixin h3 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 153%;
    color: var(--dark-color);
    margin: 0;
    margin-bottom: 12px;
}

@mixin h4 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 164.6%;
    letter-spacing: 0.01em;
    color: var(--dark-color);
    margin: 0;
}

@mixin container {
    @media (max-width: 767px) {
        padding: 60px 12px;
    }
    @media (min-width: 768px) and (max-width: 1199px) {
        padding: 100px 12px;
    }
    @media (min-width: 1200px) and (max-width: 1439px) {
        padding: 100px 84px;
    }
    @media (min-width: 1440px) {
        padding: 100px 132px;
    }
}
